<div class="col-md-12">
    <div style="margin-left: 10%; margin-right: 10%;">
        <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" style="height: 450px;">
            <!-- Carousel indicators --  background-color:cadetblue;-->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item" style="margin-left: 15%;  margin-right: 15%;">
                    <div class="carousel-caption">
                        <h2>Manage Your Projects</h2>
                    </div>
                    <div class="carousel-content">
                        <div style="background:url('../Images/1.jpg') center center;background-size:cover;height:450px; position: relative;">
                        </div>
                        <p>This site is used for managing projects. A single Tool to manage your project!!</p>
                    </div>

                    <br />
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">More Details</a></p>
                </div>
                <div class="item" style="margin-left: 15%; margin-right: 15%">
                    <div style="background:url('../Images/2.jpg') center center;background-size:cover;height:450px"></div>

                    <h2>Add User Stories !!</h2>
                    <p>You can add different user stories as a Business Administrators. Your Stories will be form your project tasks.</p>
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">User Stories</a></p>
                </div>
                <div class="item" style="margin-left: 15%; margin-right: 15%">
                    <div style="background:url('../Images/3.jpg') center center;background-size:cover;height:450px"></div>
                    <h2>Manager Comments !!</h2>
                    <p>Manager can add comments for the tasks which are going on under your project!!</p>
                    <br />
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">Manager Comments</a></p>
                </div>
                <div class="item" style="margin-left: 15%; margin-right: 15%">
                    <div style="background:url('../Images/4.jpg') center center;background-size:cover;height:450px"></div>
                    <h2>Employees List !!</h2>
                    <p>
                        You can see all the employees details with their skill sets to assign the appropriate tasks and do efficient project management.
                    </p>
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">Let Me Try !!</a></p>
                </div>
                <div class="item" style="margin-left: 15%; margin-right: 15%">
                    <div style="background:url('../Images/5.jpg') center center;background-size:cover;height:450px"></div>
                    <h2>Track Project Progress !!</h2>
                    <p>You can track Project Progress of all employees who are working under that project. You can also see the report for individual employee and his/her performance.</p>
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">Try It !!</a></p>
                </div>
                <div class="item" style="margin-left: 15%; margin-right: 15%">
                    <div style="background:url('../Images/6.jpg') center center;background-size:cover;height:450px"></div>
                    <h2>Add New Projects !!</h2>
                    <p>Your company can add different projects into this site and manager can assign the tasks to the users for the project.</p>
                    <br />
                    <p style="text-align: right"><a class="btn btn-primary">Check Out Snaps!!</a></p>
                </div>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right "></span>
            </a>
        </div>
    </div>
</div>