<!DOCTYPE html>
<head>
    <script src="~/Scripts/app/Home1-controller.js"></script>
</head>
<body style="background:url('../Images1/cover1.jpg');background-size:cover!important ">
    <span class="typed"></span>

    <div class"empty-space" style="margin-top:100px"></div>
    <div class="transp-box" style="background-color:rgba(0,0,0,.5);border-radius:10px;padding-bottom:10px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-offset-5">
                <button class="btn-join-now" style="background-color:lightyellow;border:0;display:inline-block;cursor:pointer;padding:15px 40px;text-decoration:none;border-radius:4px;font-size:14px;margin:15px;outline:0;color:#fff">
                    <div class="joinnow" style="text-align:center;margin-top:14px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style:normal;font-size:large;color:#fff">
                        <span>@Html.ActionLink("Wanna join the cause", "Index", "Home", new { area = "" }, null)</span>
                        @*<span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style:normal;font-size:large;color:#fff">Want to join the cause  ?</span>*@
                    </div>
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <button class="btn-signnow" style="background-color:lightyellow;border:0;display:inline-block;cursor:pointer;padding:15px 40px;text-decoration:none;border-radius:4px;font-size:14px;margin:15px;outline:0;">
                    <div class="joinnow" style="text-align:center;margin-top:14px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style:normal;font-size:large;color:#fff">
                        <span>@Html.ActionLink("Already a Samaritan !", "Index", "Home", new { area = "" }, null)</span>
                        @*<span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style:normal;font-size:large;color:#fff">Want to join the cause  ?</span>*@
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class"empty-space" style="margin-top:100px"></div>
    <div class="full-achiev" style="height:500px;position:relative;flex-wrap:wrap;display:flex;box-sizing:border-box;font-size:100%;vertical-align:baseline;-webkit-tap-highlight-color:transparent;text-align:center;background:rgba(255,255,255,0.6);color:#424242;line-height:1">
        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:0px;top:0px;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
           <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-warning">
                <h1 class="glyphicon glyphicon-user"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 43,699 Subscribers  </h4>
            <div class="hidden" style="opacity:0;zoom:0;display:none;width:540px;max-width:100%;padding:20px 30px;text-align:center">
                <p style="font-size:16px;line-height:1.5em;margin:15px 0px;font-weight:300;vertical-align:baseline;box-sizing:border-box"></p>
            </div>
        </div>

        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:33.33%;top:0px;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
            <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-success">
                <h1 class="glyphicon glyphicon-plus"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 36 Tons of food saved  </h4>
        </div>

        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:66.66%;top:0px;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
            <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-danger">
                <h1 class="glyphicon glyphicon-cutlery"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 699 Food Chains  </h4>
        </div>

        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:0px;top:50%;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-top:5px solid rgba(0,255,0,0.5);border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
            <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-danger">
                <h1 class="glyphicon glyphicon-user"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 43,699 Subscribers  </h4>
        </div>

        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:33.33%;top:50%;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-top:5px solid rgba(0,255,0,0.5);border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
            <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-success">
                <h1 class="glyphicon glyphicon-globe"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 15 countries  </h4>
        </div>

        <div class="achiev-ind" style="z-index:0;width:33.33%;height:50%;left:66.66%;top:50%;overflow:hidden;position:absolute;padding:20px;border-left:5px solid #eee;border-top:5px solid rgba(0,255,0,0.5);border-right:5px solid rgba(0,255,0,0.5);justify-content:center;-webkit-box-pack:center;-webkit-box-align:center;align-items:center;align-content:center;flex-wrap:wrap;display:flex;vertical-align:baseline;-webkit-tap-highlight-color:transparent;box-sizing:border-box;text-align:center;color:#424242">
            <!-- <img src="~/Images1/cover2.jpg" height="50" style="max-width:100%;vertical-align:middle">-->
            <button type="button" class="btn btn-primary">
                <h1 class="glyphicon glyphicon-thumbs-up"></h1>
            </button>
            <h4 class="h4" style="font-size:20px;text-align:center;color:rgb(66,66,66);margin-bottom:30px;width:100%;font-weight:300;line-height:1.25em;margin:15px 0;display:block;-webkit-margin-before:1.33em"> 93,699 Facebook Followers  </h4>
        </div>
    </div>

</body>